<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSHealthShareUsageDescription</key>
    <string>We use your health data to sync your weight and height.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>We use your health data to update your weight and height when you edit them in the app.</string>
    <key>NSUbiquitousContainers</key>
    <dict>
        <key>iCloud.com.gymly.app</key>
        <dict>
            <key>NSUbiquitousContainerIsDocumentScopePublic</key>
            <false/>
            <key>NSUbiquitousContainerName</key>
            <string>Gymly</string>
            <key>NSUbiquitousContainerSupportedFolderLevels</key>
            <string>None</string>
        </dict>
    </dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Gymly Split</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.gymly.split</string>
            </array>
        </dict>
    </array>

    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>

    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>

    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>

    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Gymly Split File</string>
            <key>UTTypeIdentifier</key>
            <string>com.gymly.split</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>gymlysplit</string>
                </array>
                <key>public.mime-type</key>
                <string>application/json</string>
            </dict>
        </dict>
    </array>

    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>AppIconBlue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Blue</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIconGreen</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Green</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIconPurple</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Purple</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIconPink</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Pink</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AppIconOrange</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Orange</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
